.why{
    padding:70px 20px;
}

.why h2{
    text-align:center;
    color:#c1121f;
    margin-bottom:50px;
}

.why-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:25px;
}

.why-card{
    background:#fff;
    border-radius:12px;
    padding:35px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
    transition:.3s;
}

.why-card:hover{
    transform:translateY(-8px);
}

.why-icon{
    font-size:45px;
    margin-bottom:15px;
}

.why-card h3{
    color:#d90429;
    margin-bottom:15px;
}

.why-card p{
    color:#555;
}